<a href="https://colab.research.google.com/github/ikyath/M5-Forecasting-Accuracy-Kaggle/blob/master/M5_Forecast_Encoder_Decoder_BetterFeatures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
pwd

'/content/drive/My Drive/Data Science'

In [41]:
cd /content/drive/My\ Drive/Data\ Science

/content/drive/My Drive/Data Science

In [0]:
import pandas as pd
import numpy as np
import re
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from tqdm.notebook import tqdm as tqdm
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM,Dropout
from keras.layers import RepeatVector,TimeDistributed
from numpy import array
from keras.models import Sequential, load_model

In [0]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [0]:
def read_data(PATH):
    print('Reading files...')
    calendar = pd.read_csv(f'{PATH}/calendar.csv')
    calendar = reduce_mem_usage(calendar)
    print('Calendar has {} rows and {} columns'.format(calendar.shape[0], calendar.shape[1]))
    sell_prices = pd.read_csv(f'{PATH}/sell_prices.csv')
    sell_prices = reduce_mem_usage(sell_prices)
    print('Sell prices has {} rows and {} columns'.format(sell_prices.shape[0], sell_prices.shape[1]))
    sales_train_validation = pd.read_csv(f'{PATH}/sales_train_validation.csv')
    print('Sales train validation has {} rows and {} columns'.format(sales_train_validation.shape[0], sales_train_validation.shape[1]))
    submission = pd.read_csv(f'{PATH}/sample_submission.csv')
    return calendar, sell_prices, sales_train_validation, submission

In [45]:
calendar, selling_prices, sales, submission = read_data("/content/drive/My Drive/Data Science")

Reading files...
Mem. usage decreased to  0.12 Mb (41.9% reduction)
Calendar has 1969 rows and 14 columns
Mem. usage decreased to 130.48 Mb (37.5% reduction)
Sell prices has 6841121 rows and 4 columns
Sales train validation has 30490 rows and 1919 columns

In [0]:
sales = pd.read_csv('sales_train_validation.csv')
calendar = pd.read_csv('calendar.csv')
selling_prices = pd.read_csv('sell_prices.csv')
submission_file = pd.read_csv('sample_submission.csv')

In [47]:
sales.head()

                              id        item_id  ... d_1912 d_1913
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...      1      1
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  ...      0      0
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  ...      1      1
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  ...      7      2
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  ...      2      4

[5 rows x 1919 columns]

In [48]:
calendar.head()

         date  wm_yr_wk    weekday  ...  snap_CA  snap_TX  snap_WI
0  2011-01-29     11101   Saturday  ...        0        0        0
1  2011-01-30     11101     Sunday  ...        0        0        0
2  2011-01-31     11101     Monday  ...        0        0        0
3  2011-02-01     11101    Tuesday  ...        1        1        0
4  2011-02-02     11101  Wednesday  ...        1        0        1

[5 rows x 14 columns]

In [0]:
days = range(1, 1970)
time_series_columns = [f'd_{i}' for i in days]
transfer_cal = pd.DataFrame(calendar[['event_name_1','event_type_1','event_name_2','event_type_2','snap_CA','snap_TX','snap_WI']].values.T, index=['event_name_1','event_type_1','event_name_2','event_type_2','snap_CA','snap_TX','snap_WI'], columns= time_series_columns)
transfer_cal = transfer_cal.fillna(0)
event_name_1_se = transfer_cal.loc['event_name_1'].apply(lambda x: x if re.search("^\d+$", str(x)) else np.nan).fillna(10)
event_name_2_se = transfer_cal.loc['event_name_2'].apply(lambda x: x if re.search("^\d+$", str(x)) else np.nan).fillna(10)

In [50]:
transfer_cal.head()

              d_1  d_2  d_3  d_4  ...  d_1966  d_1967  d_1968        d_1969
event_name_1    0    0    0    0  ...       0       0       0  NBAFinalsEnd
event_type_1    0    0    0    0  ...       0       0       0      Sporting
event_name_2    0    0    0    0  ...       0       0       0  Father's day
event_type_2    0    0    0    0  ...       0       0       0      Cultural
snap_CA         0    0    0    1  ...       0       0       0             0

[5 rows x 1969 columns]

In [0]:
def transform(data):
    
    nan_features = ['event_name_1', 'event_type_1', 'event_name_2', 'event_type_2']
    for feature in nan_features:
        data[feature].fillna('unknown', inplace = True)
        
    cat = ['event_name_1','event_type_1','event_name_2','event_type_2','snap_CA','snap_TX','snap_WI','month','wday']
    for feature in cat:
        encoder = preprocessing.LabelEncoder()
        data[feature] = encoder.fit_transform(data[feature])

    # # week day
    # week_period = 7 / (2 * np.pi)
    # dow_norm = data["wday"].values / week_period
    # wday_cos = pd.DataFrame(np.cos(dow_norm))
    # wday_sin = pd.DataFrame(np.sin(dow_norm))
    
    
    
    # # month
    # month_period = 12 / (2 * np.pi)
    # dow_norm = data["month"].values / month_period
    # month_cos = pd.DataFrame(np.cos(dow_norm))
    # month_sin = pd.DataFrame(np.sin(dow_norm))
    # # print(month_sin)

    # #print(df["date"])

    # # day
    # day_period = 31 / (2 * np.pi)
    # dow_norm = data["date"].dt.day / day_period
    # day_cos = pd.DataFrame(np.cos(dow_norm))
    # day_sin = pd.DataFrame(np.sin(dow_norm))
    # print(day_sin)
    
    data['wday_cos'] = np.cos(data['wday']/(7/(2*np.pi)))
    data['wday_sin'] = np.sin(data['wday']/(7/(2*np.pi)))

    data['month_cos'] = np.cos(data['month']/(12/(2*np.pi)))
    data['month_sin'] = np.sin(data['month']/(12/(2*np.pi)))

    data['day_cos'] = np.cos(data["date"].dt.day/(31/(2*np.pi)))
    data['day_sin'] = np.sin(data["date"].dt.day/(31/(2*np.pi)))


    # # month
    # month = pd.get_dummies(data["month"], drop_first=False, prefix="month")
    # month = (month - month.mean()) / month.std()

    # day
    # day = pd.get_dummies(data["date"].dt.day, drop_first=False, prefix="date")
    # day = (day - day.mean()) / day.std()

    # data = pd.merge(data,day_cos, how="left",left_on=date, left_index=True, right_index=True,)
    # data = pd.merge(data,day_sin, how="left", left_on=date,left_index=True, right_index=True)
    # data = pd.merge(data,wday_cos, how="left",left_on=wday ,left_index=True, right_index=True)
    # data = pd.merge(data,wday_sin, how="left", left_on=wday,left_index=True, right_index=True)
    # data = pd.merge(data,month_cos, how="left", left_on=month,left_index=True, right_index=True)
    # data = pd.merge(data,month_sin, how="left", left_on=month,left_index=True, right_index=True)


    
    return data

In [52]:
calendar.head()

         date  wm_yr_wk    weekday  ...  snap_CA  snap_TX  snap_WI
0  2011-01-29     11101   Saturday  ...        0        0        0
1  2011-01-30     11101     Sunday  ...        0        0        0
2  2011-01-31     11101     Monday  ...        0        0        0
3  2011-02-01     11101    Tuesday  ...        1        1        0
4  2011-02-02     11101  Wednesday  ...        1        0        1

[5 rows x 14 columns]

In [0]:
calendar['date'] = pd.to_datetime(calendar['date'])
calendar = calendar[calendar['date']>= '2016-1-27']  #reduce memory
calendar= transform(calendar)
# Attempts to convert events into time series data.

In [54]:
calendar.head()

           date  wm_yr_wk    weekday  ...  month_sin   day_cos       day_sin
1824 2016-01-27     11552  Wednesday  ...        0.0  0.688967 -7.247928e-01
1825 2016-01-28     11552   Thursday  ...        0.0  0.820763 -5.712682e-01
1826 2016-01-29     11552     Friday  ...        0.0  0.918958 -3.943559e-01
1827 2016-01-30     11601   Saturday  ...        0.0  0.979530 -2.012985e-01
1828 2016-01-31     11601     Sunday  ...        0.0  1.000000 -2.449294e-16

[5 rows x 20 columns]

In [55]:
transfer_cal = pd.DataFrame(calendar[['event_name_1','event_type_1','event_name_2','event_type_2','snap_CA','snap_TX','snap_WI','day_cos','day_sin','wday_cos','wday_sin','month_cos','month_sin']].values.T,
                            index=['event_name_1','event_type_1','event_name_2','event_type_2','snap_CA','snap_TX','snap_WI','day_cos','day_sin','wday_cos','wday_sin','month_cos','month_sin'])
transfer_cal

                    0          1          2    ...        142        143       144
event_name_1  16.000000  16.000000  16.000000  ...  16.000000  16.000000  6.000000
event_type_1   4.000000   4.000000   4.000000  ...   4.000000   4.000000  3.000000
event_name_2   1.000000   1.000000   1.000000  ...   1.000000   1.000000  0.000000
event_type_2   1.000000   1.000000   1.000000  ...   1.000000   1.000000  0.000000
snap_CA        0.000000   0.000000   0.000000  ...   0.000000   0.000000  0.000000
snap_TX        0.000000   0.000000   0.000000  ...   0.000000   0.000000  0.000000
snap_WI        0.000000   0.000000   0.000000  ...   0.000000   0.000000  0.000000
day_cos        0.688967   0.820763   0.918958  ...  -0.954139  -0.874347 -0.758758
day_sin       -0.724793  -0.571268  -0.394356  ...  -0.299363  -0.485302 -0.651372
wday_cos      -0.900969  -0.222521   0.623490  ...   0.623490   1.000000  0.623490
wday_sin      -0.433884  -0.974928  -0.781831  ...  -0.781831   0.000000  0.781831
month_cos      1.000000   1.000000   1.000000  ...  -0.866025  -0.866025 -0.866025
month_sin      0.000000   0.000000   0.000000  ...   0.500000   0.500000  0.500000

[13 rows x 145 columns]

In [56]:
calendar.tail()

           date  wm_yr_wk    weekday  ...  month_sin   day_cos   day_sin
1964 2016-06-15     11620  Wednesday  ...        0.5 -0.994869  0.101168
1965 2016-06-16     11620   Thursday  ...        0.5 -0.994869 -0.101168
1966 2016-06-17     11620     Friday  ...        0.5 -0.954139 -0.299363
1967 2016-06-18     11621   Saturday  ...        0.5 -0.874347 -0.485302
1968 2016-06-19     11621     Sunday  ...        0.5 -0.758758 -0.651372

[5 rows x 20 columns]

In [57]:
calendar.shape

(145, 20)

In [0]:
price_fea = calendar[['wm_yr_wk','date']].merge(selling_prices, on = ['wm_yr_wk'], how = 'left')
price_fea['id'] = price_fea['item_id']+'_'+price_fea['store_id']+'_validation'

In [59]:
price_fea.head()

   wm_yr_wk       date  ... sell_price                             id
0     11552 2016-01-27  ...       8.26  HOBBIES_1_001_CA_1_validation
1     11552 2016-01-27  ...       3.97  HOBBIES_1_002_CA_1_validation
2     11552 2016-01-27  ...       2.97  HOBBIES_1_003_CA_1_validation
3     11552 2016-01-27  ...       4.64  HOBBIES_1_004_CA_1_validation
4     11552 2016-01-27  ...       2.88  HOBBIES_1_005_CA_1_validation

[5 rows x 6 columns]

In [0]:
df = price_fea.pivot('id','date','sell_price')

In [61]:
df.head()

date                         2016-01-27  2016-01-28  ...  2016-06-18  2016-06-19
id                                                   ...
FOODS_1_001_CA_1_validation        2.24        2.24  ...        2.24        2.24
FOODS_1_001_CA_2_validation        2.24        2.24  ...        2.24        2.24
FOODS_1_001_CA_3_validation        2.24        2.24  ...        2.24        2.24
FOODS_1_001_CA_4_validation        2.24        2.24  ...        2.24        2.24
FOODS_1_001_TX_1_validation        2.24        2.24  ...        2.24        2.24

[5 rows x 145 columns]

In [62]:
price_fea.head()

   wm_yr_wk       date  ... sell_price                             id
0     11552 2016-01-27  ...       8.26  HOBBIES_1_001_CA_1_validation
1     11552 2016-01-27  ...       3.97  HOBBIES_1_002_CA_1_validation
2     11552 2016-01-27  ...       2.97  HOBBIES_1_003_CA_1_validation
3     11552 2016-01-27  ...       4.64  HOBBIES_1_004_CA_1_validation
4     11552 2016-01-27  ...       2.88  HOBBIES_1_005_CA_1_validation

[5 rows x 6 columns]

In [63]:
price_df = sales.merge(df,on=['id'],how= 'left').iloc[:,-145:]
price_df.index = sales.id
price_df.head()

                               2016-01-27  2016-01-28  ...  2016-06-18  2016-06-19
id                                                     ...
HOBBIES_1_001_CA_1_validation        8.26        8.26  ...        8.38        8.38
HOBBIES_1_002_CA_1_validation        3.97        3.97  ...        3.97        3.97
HOBBIES_1_003_CA_1_validation        2.97        2.97  ...        2.97        2.97
HOBBIES_1_004_CA_1_validation        4.64        4.64  ...        4.64        4.64
HOBBIES_1_005_CA_1_validation        2.88        2.88  ...        2.88        2.88

[5 rows x 145 columns]

In [64]:
transfer_cal

                    0          1          2    ...        142        143       144
event_name_1  16.000000  16.000000  16.000000  ...  16.000000  16.000000  6.000000
event_type_1   4.000000   4.000000   4.000000  ...   4.000000   4.000000  3.000000
event_name_2   1.000000   1.000000   1.000000  ...   1.000000   1.000000  0.000000
event_type_2   1.000000   1.000000   1.000000  ...   1.000000   1.000000  0.000000
snap_CA        0.000000   0.000000   0.000000  ...   0.000000   0.000000  0.000000
snap_TX        0.000000   0.000000   0.000000  ...   0.000000   0.000000  0.000000
snap_WI        0.000000   0.000000   0.000000  ...   0.000000   0.000000  0.000000
day_cos        0.688967   0.820763   0.918958  ...  -0.954139  -0.874347 -0.758758
day_sin       -0.724793  -0.571268  -0.394356  ...  -0.299363  -0.485302 -0.651372
wday_cos      -0.900969  -0.222521   0.623490  ...   0.623490   1.000000  0.623490
wday_sin      -0.433884  -0.974928  -0.781831  ...  -0.781831   0.000000  0.781831
month_cos      1.000000   1.000000   1.000000  ...  -0.866025  -0.866025 -0.866025
month_sin      0.000000   0.000000   0.000000  ...   0.500000   0.500000  0.500000

[13 rows x 145 columns]

In [65]:
transfer_cal.loc['event_name_1'][-(100+28):-(28)].shape

(100,)

In [0]:
days = range(1, 1913 + 1)
time_series_columns = [f'd_{i}' for i in days]
time_series_data = sales[time_series_columns]  #Get time series data

In [67]:
time_series_data.shape

(30490, 1913)

In [68]:
X = []   #build a data with two features(salse and event1)
for i in tqdm(range(time_series_data.shape[0])):
    X.append([list(t) for t in zip(transfer_cal.loc['event_name_1'][-(100+28):-(28)],
                                   transfer_cal.loc['event_type_1'][-(100+28):-(28)],
                                   transfer_cal.loc['event_name_2'][-(100+28):-(28)],     
                                   transfer_cal.loc['event_type_2'][-(100+28):-(28)],
                                   transfer_cal.loc['snap_CA'][-(100+28):-(28)],
                                   transfer_cal.loc['snap_TX'][-(100+28):-(28)],
                                   transfer_cal.loc['snap_WI'][-(100+28):-(28)],
                                   transfer_cal.loc['day_sin'][-(100+28):-(28)],
                                   transfer_cal.loc['day_cos'][-(100+28):-(28)],
                                   transfer_cal.loc['wday_sin'][-(100+28):-(28)],
                                   transfer_cal.loc['wday_cos'][-(100+28):-(28)],
                                   transfer_cal.loc['month_sin'][-(100+28):-(28)],
                                   transfer_cal.loc['month_cos'][-(100+28):-(28)],
                                   price_df.iloc[i][-(100+28):-(28)],
                                   time_series_data.iloc[i][-100:])]) 

X = np.asarray(X, dtype=np.float32)

HBox(children=(IntProgress(value=0, max=30490), HTML(value='')))

In [69]:
X.shape

(30490, 100, 15)

In [0]:
def Normalize(list):
    list = np.array(list)
    low, high = np.percentile(list, [0, 100])
    delta = high - low
    if delta != 0:
        for i in range(0, len(list)):
            list[i] = (list[i]-low)/delta
    return  list,low,high

def FNoramlize(list,low,high):
    delta = high - low
    if delta != 0:
        for i in range(0, len(list)):
            list[i] = list[i]*delta + low
    return list

def Normalize2(list,low,high):
    list = np.array(list)
    delta = high - low
    if delta != 0:
        for i in range(0, len(list)):
            list[i] = (list[i]-low)/delta
    return  list

In [71]:
np.random.seed(7)

 ## I only use the last 56 days for train_data.
if __name__ == '__main__':
    n_steps = 28
    train_n,train_low,train_high = Normalize(X[:,-(n_steps*4):,:])
    X_train = train_n[:,-28*4:-28,:]
    print(X_train.shape)
    y = train_n[:,-28:,14]  #     
    # reshape from [samples, timesteps] into [samples, timesteps, features]
    n_features = 15
    n_out_seq_length =28
    num_y = 1
    X_train = X_train.reshape((X_train.shape[0], X_train.shape[1], n_features))
    y = y.reshape((y.shape[0], y.shape[1], 1))
    print(X_train.shape)
    # define model

    model = Sequential()

    
    model.add(LSTM(128, activation='tanh', input_shape=(72, n_features),return_sequences=True))
    model.add(LSTM(64, activation='tanh',return_sequences=False))
    model.add(RepeatVector(n_out_seq_length))
    model.add(LSTM(32, activation='tanh',return_sequences=True))
    model.add(LSTM(16, activation='tanh',return_sequences=True))
    model.add(Dropout(0.1))  
    model.add(TimeDistributed(Dense(num_y)))   # num_y means the shape of y,in some problem(like translate), it can be many.
                                                #In that case, you should set the  activation= 'softmax'
    model.compile(optimizer='adam', loss='mse')
    # demonstrate prediction
    model.fit(X_train, y, epochs=20, batch_size=1000)

(30490, 72, 15)
(30490, 72, 15)
Epoch 1/20
30490/30490 [==============================] - 11s 352us/step - loss: 1.7093e-04
Epoch 2/20
30490/30490 [==============================] - 10s 324us/step - loss: 9.1457e-05
Epoch 3/20
30490/30490 [==============================] - 10s 330us/step - loss: 8.5714e-05
Epoch 4/20
30490/30490 [==============================] - 10s 328us/step - loss: 8.3064e-05
Epoch 5/20
30490/30490 [==============================] - 10s 325us/step - loss: 8.3604e-05
Epoch 6/20
30490/30490 [==============================] - 10s 318us/step - loss: 8.4106e-05
Epoch 7/20
30490/30490 [==============================] - 10s 329us/step - loss: 8.1740e-05
Epoch 8/20
30490/30490 [==============================] - 10s 323us/step - loss: 8.1912e-05
Epoch 9/20
30490/30490 [==============================] - 10s 323us/step - loss: 8.1368e-05
Epoch 10/20
30490/30490 [==============================] - 10s 328us/step - loss: 8.1713e-05
Epoch 11/20
30490/30490 [==============================] - 10s 331us/step - loss: 8.0850e-05
Epoch 12/20
30490/30490 [==============================] - 10s 319us/step - loss: 8.1071e-05
Epoch 13/20
30490/30490 [==============================] - 10s 322us/step - loss: 8.0863e-05
Epoch 14/20
30490/30490 [==============================] - 10s 316us/step - loss: 8.0658e-05
Epoch 15/20
30490/30490 [==============================] - 10s 323us/step - loss: 8.0974e-05
Epoch 16/20
30490/30490 [==============================] - 10s 323us/step - loss: 8.1866e-05
Epoch 17/20
30490/30490 [==============================] - 10s 322us/step - loss: 8.0537e-05
Epoch 18/20
30490/30490 [==============================] - 10s 319us/step - loss: 8.0893e-05
Epoch 19/20
30490/30490 [==============================] - 10s 319us/step - loss: 7.9735e-05
Epoch 20/20
30490/30490 [==============================] - 10s 317us/step - loss: 7.9883e-05

In [72]:
x_input = array(X_train[:,-72:])
x_input = x_input.reshape((30490, 72, n_features))
print(x_input.shape)
#x_input = Normalize2(x_input,train_low,train_high)
yhat = model.predict(x_input[:,-72:], verbose=0)
x_input=np.concatenate((x_input[:,:,14].reshape(x_input.shape[0],x_input.shape[1]),yhat.astype(np.float32).reshape(x_input.shape[0],x_input.shape[1]-44)),axis=1).reshape((x_input.shape[0],x_input.shape[1]+28,1));
#print(yhat)
print(x_input.shape)

(30490, 72, 15)
(30490, 100, 1)

In [0]:
x_input = FNoramlize(x_input,train_low,train_high)
# x_input = np.rint(x_input)

In [74]:
forecast = pd.DataFrame(x_input.reshape(x_input.shape[0],x_input.shape[1])).iloc[:,-28:]
forecast.columns = [f'F{i}' for i in range(1, forecast.shape[1] + 1)]
forecast[forecast < 0] =0
forecast.head()

         F1        F2        F3  ...       F26       F27       F28
0  1.059101  1.079838  1.138912  ...  1.252116  1.253003  1.253930
1  0.848683  0.637381  0.513943  ...  0.579942  0.579113  0.578536
2  0.873366  0.687998  0.583263  ...  0.614280  0.613579  0.613123
3  1.305184  1.608460  1.903486  ...  2.317156  2.318897  2.320532
4  1.062602  1.088109  1.151696  ...  1.245735  1.246151  1.246681

[5 rows x 28 columns]

In [0]:
validation_ids = sales['id'].values
evaluation_ids = [i.replace('validation', 'evaluation') for i in validation_ids]

In [0]:
ids = np.concatenate([validation_ids, evaluation_ids])

In [0]:
predictions = pd.DataFrame(ids, columns=['id'])
forecast = pd.concat([forecast]*2).reset_index(drop=True)
predictions = pd.concat([predictions, forecast], axis=1)

In [0]:
predictions.to_csv('submission.csv', index=False)  #Generate the csv file.